.advantages__title {
  padding: 32px 18px 30px;
}

.advantages__description {
  padding: 5px 18px 16px;
}

.advantages__list,
.advantages__inner-list {
  .list-reset();
}

.advantages__item-wrapper {
  background-color: @theme-color;
  padding: 37px 18px;
    .advantages__item-title,
    .advantages__item-number,
    .advantages__item-description {
      color: #ffffff;
  }
    &--triangle {
    padding-top: 70px;
    background-image: url("../img/advantages-triangle.svg");
    background-repeat: no-repeat;
    background-position: top;
  }
}

.advantages__item:nth-child(n + 3):nth-child(-n + 5) {
  background-color: #eeeeee;
  padding: 24px 34px;
}

.advantages__item-number {
  display: block;
  padding-top: 11px;
  padding-bottom: 17px;
}

.advantages__inner-item {
  padding-top: 33px;
  padding-left: 65px;
  padding-right: 18px;
  .advantages__item-title {
    text-align: left;
    padding-bottom: 16px;
  }
  .advantages__item-description {
    text-align: left;
  }
  &:last-child {
    padding-bottom: 46px;
  }
}

@media (min-width: @tablet-width) {
  .advantages__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .advantages__item:nth-child(1) {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    .advantages__img {
      grid-column: 2 / span 2;
      width: 100%;
    }
  }
  .advantages__item-wrapper--triangle {
    background-image: none;
  }
  .advantages__item:nth-child(2) {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    .advantages__img {
      order: -1;
      grid-column: 1 / span 2;
      width: 100%;
    }
  }
  .advantages__inner-list {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
