.advantages__title {
  padding: 34px 26px 31px 24px;
}

.advantages__description {
  padding: 5px 18px 16px;
}

.advantages__list,
.advantages__inner-list {
  .list-reset();
}

.advantages__item {
  background-color: #eeeeee;

  &:nth-child(-n+2) {
    background-color: @theme-color;
  }

  &:nth-child(n+3) {
    padding: 25px 26px;
  }

  &:nth-child(n+4) {
    position: relative;
    padding-left: 34px;
    padding-right: 34px;


    &::before {
      @media (max-width: @mobile-width-only) {
        content: "";
        position: absolute;
        width: calc(100% - 36px);
        height: 1px;
        background-color: #d6d6d6;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
      }
    }
  }

  &:nth-child(2) {
    .advantages__item-wrapper {
      padding: 37px 18px;
    }
  }
}

.advantages__item-wrapper {
  padding: 39px 18px;

  .advantages__item-title,
  .advantages__item-number,
  .advantages__item-description {
    color: @background-main-color;
  }

  &--triangle {
    padding-top: 70px;
    background-image: url("../img/advantages-triangle.svg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% 36px;
  }
}

.advantages__img {
  display: block;
  margin: 0 auto;
  object-fit: cover;
  width: 100%;
}

.advantages__item-number {
  display: block;
  padding-top: 11px;
  padding-bottom: 17px;
}

.advantages__inner-list {
  background-color: @background-main-color;
}

.advantages__inner-item {
  padding-top: 32px;
  padding-left: 65px;
  padding-right: 18px;

  .advantages__item-title {
    text-align: left;
    padding-bottom: 17px;
  }

  .advantages__item-description {
    text-align: left;
  }

  &:last-child {
    padding-bottom: 44px;
  }

  &--housing {
    background-image: url("../img/sprite.svg#icon-housing");
    background-position: 6% 23%;
    background-size: 41px 41px;
    background-repeat: no-repeat;
  }

  &--food {
    background-image: url("../img/sprite.svg#icon-food");
    background-position: 6% 32%;
    background-size: 40px 40px;
    background-repeat: no-repeat;
  }

  &--souvenir {
    background-image: url("../img/sprite.svg#icon-souvenir");
    background-position: 6% 20%;
    background-size: 40px 40px;
    background-repeat: no-repeat;
  }
}

@media (min-width: @tablet-width) {
  .advantages__title {
    padding: 58px 292px 15px 289px;
  }

  .advantages__item-number {
    padding-top: 14px;
  }

  .advantages__description {
    padding: 15px 124px 44px;
  }

  .advantages__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .advantages__item {
    &:first-child {
      grid-column: 1 / -1;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

      .advantages__item-title {
        padding: 0 66px;
      }

      .advantages__item-description {
        padding: 6px 29px;
      }

      .advantages__img-wrapper {
        grid-column: 2 / span 2;
        width: 100%;
      }

      .advantages__img {
        display: block;
        object-fit: cover;
        width: 100%;
      }

      .advantages__inner-list {
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        background-color: @background-main-color;
      }
    }

    .advantages__inner-item {
      padding: 166px 33px 60px;

      .advantages__item-title {
        text-align: center;
        padding-bottom: 20px;
      }

      .advantages__item-description {
        text-align: center;
      }

      &--housing {
        background-position: center 27%;
        background-size: 82px 75px;
        background-repeat: no-repeat;
      }

      &--food {
        background-position: center 25%;
        background-size: 80px 68px;
        background-repeat: no-repeat;
      }

      &--souvenir {
        background-position: center 25%;
        background-size: 75px 75px;
        background-repeat: no-repeat;
      }
    }

    &:nth-child(2) {
      grid-column: 1 / -1;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

      .advantages__img-wrapper {
        order: -1;
        grid-column: 1 / span 2;
        width: 100%;
      }

      .advantages__img {
        display: block;
        object-fit: cover;
        width: 100%;
      }
    }

    &:nth-child(n+3) {
      padding: 41px 33px 63px;

      .advantages__item-title {
        padding-left: 16px;
        padding-right: 16px;
      }
    }
  }

  .advantages__item-wrapper {
    padding: 52px 33px 31px;

    &--triangle {
      background-image: none;
    }
  }
}
