.catalog__title {
  font-size: 21px;
  padding: 30px 20px 30px;
}

.catalog__description {
  padding: 5px 20px 17px;
}

.catalog__card {
  .list-reset();
  width: 280px;
  margin: 0 auto;
}

.catalog__card-item {
  margin-top: 25px;
  margin-bottom: 20px;
}

.card-item__figure {
  margin: 0;
}

.card-item__img {
  margin-top: 25px;
  margin-bottom: 15px;
}

.figcaption__title {
  .figcaption();
  margin-bottom: 11px;
}

.figcaption__author {
  text-align: left;
  text-transform: none;
}

.figcaption__number-of-likes {
  .figcaption();
}
