.catalog-video {
  padding: 5px 20px;
}

.catalog-video__wrapper {
  padding: 20px 20px;

  @media (min-width: @tablet-width) {
    padding: 40px 160px;
  }
}

.catalog-video__title {
  font-size: 21px;
  padding: 10px;
}

.catalog-video__description {
  padding: 20px 0;
}

.catalog-video__link {
  display: block;
  cursor: pointer;
}

.catalog-video__img {
  margin: 0 auto;
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    mask-image: url("../img/sprite.svg#play");
    background-color: #ff0000;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
  }

  @media (min-width: @tablet-width) {
    width: 648px;
    height: 500px;
  }

  @media (min-width: @desktop-width) {
    width: 800px;
  }
}
