.catalog {
  padding: 37px 20px 25px;
}

.catalog__title {
  font-size: 21px;
}

.catalog__description {
  .description();
  margin-top: 35px;
  margin-bottom: 35px;
}

.catalog__card {
  .list-reset();
}

.card-item__figure {
  margin: 0;
}

.card-item__img {
  margin-top: 25px;
  margin-bottom: 15px;
}

.figcaption__title {
  .figcaption();
  margin-bottom: 11px;
}

.figcaption__author {
  .description();
  text-align: left;
  text-transform: none;
}

.figcaption__number-of-likes {
  .figcaption();
}
