.check {
  display: block;
  position: relative;
}

.check__radio {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background: #f2f2f2;
  position: absolute;
  top: -10px;
  left: 0;
}

.check__mark {
  width: 46px;
  height: 46px;
  background: #f2f2f2;
  position: absolute;
  top: -10px;
  left: 0;
}

