.figcaption__wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 11px;
}

.figcaption__title {
  .figcaption();
  margin-bottom: 11px;
}

.figcaption__author {
  text-align: left;
  text-transform: none;
}

.figcaption__number-of-likes {
  .figcaption();
}
