.hero {
  padding-top: 90px;
  padding-bottom: 85px;
  background-color: @theme-color;
  background-image: url("../img/stack.svg#intro-triangle"), url("../img/mobile-back.jpg");
  background-size: 1200px 57px, cover;
  background-repeat: no-repeat;
  background-position: bottom, center bottom;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/stack.svg#intro-triangle"), url("../img/mobile-back@2x.jpg");
    background-size: 1200px 57px, 901px auto;
  }

  @media (min-width: 768px) {
    padding-top: 76px;
    padding-bottom: 91px;
    background-image: url("../img/stack.svg#intro-triangle"), url("../img/desktop-back.jpg");
    background-size: 1200px 57px, cover;
    background-repeat: no-repeat;
    background-position: bottom, center bottom;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/stack.svg#intro-triangle"), url("../img/desktop-back@2x.jpg");
      background-size: 1200px 57px, 1200px auto;
    }
  }
}

.hero__img {
  display: block;
  margin: 0 auto;

  @media (min-width: 768px) {
    width: 460px;
    height: 350px;
  }
}
