.main-footer__wrapper {
  padding-top: 33px;
  padding-bottom: 27px;
  display: grid;
  grid-template-columns: 3fr;
  gap: 30px;
  justify-content: right;
}

.main-footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright__text {
  .description();
  color: @title-color;
  margin-right: 12px;
}
