.main-footer__wrapper {
  padding: 30px 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 19px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 36px 60px;
  }
}

.main-footer__hashtag {
  align-self: center;
}

.main-footer__social-list {
  .list-reset();
  display: flex;
  justify-content: center;
  line-height: 0;
}

.main-footer__copyright-text {
  color: currentColor;
}

.main-footer__copyright-logo {
  display: block;
  margin-left: 10px;
}

.main-footer__copyright-link {
  .link-decoration-none();
  .description ();
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;

  &:hover {
    color: @theme-color;
  }

  &:active {
    color: fade(@title-color, 30%);
  }
}
