.main-footer__wrapper {
  padding: 22px 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 36px 16px;
    gap: 34px;
  }

  @media (min-width: @desktop-width) {
    gap: 67px;
  }
}

.main-footer__hashtag {
  align-self: center;
}

.main-footer__copyright-text {
  color: currentColor;
}

.main-footer__copyright-logo {
  display: block;
  margin-left: 10px;

  @media (min-width: @tablet-width) {
    margin-left: 12px;
  }
}

.main-footer__copyright-link {
  .link-decoration-none();
  .description ();
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: @tablet-width) {
    padding-top: 3px;
    padding-left: 7px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 0;
    padding-left: 9px;
  }

  &:hover,
  &:focus {
    color: @theme-color;
    outline: none;
  }

  &:active {
    color: fade(@title-color, 30%);
  }
}
