.map {
  display: block;
  margin: 0 auto;
  height: 350px;
  background-image: url("../img/map-mobile.jpg");
  background-position: center;
  background-size: auto;
  position: relative;
  margin-bottom: 19px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/map-mobile@2x.jpg");
  }

  @media (min-width: @tablet-width) {
    background-image: url("../img/map-tablet.jpg");
    margin-bottom: 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-tablet@2x.jpg");
    }
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/map-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-desktop@2x.jpg");
    }
  }
}

.map iframe {
  display: block;
  border: none;
  width: 100%;
}
