.menu-list {
  .list-reset;
}

.menu-list__item {
  background-color: @main-color;
}

.menu-list__link {
  .link-decoration-none();
  display: block;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  padding: 17px 15px 12px;
}

