.modal-error-wrapper {
  padding: 45px 40px 35px;
}

.modal__title {
  margin-bottom: 30px;
}

.modal__description {
  margin-bottom: 28px;
}

.modal__error-button {
  padding: 18px 20px 14px;
  width: 180px;
  font-size: 18px;
}

.modal-ok-wrapper {
  padding: 39px 39px 30px;
}

.modal__button-wrapper {
  box-sizing: border-box;
  padding: 20px;
  background-color: #f2f2f2;
}

.modal__ok-button {
  width: 280px;
  padding: 18px 20px 14px;
  font-size: 18px;
}
