.form__introduce,
.form__contacts,
.form__assess,
.form__choice,
.form__textarea {
  border: none;
  display: flex;
  flex-direction: column;
}

.form__introduce-label,
.form__contacts-label {
  .description();
  text-align: left;
}

.form__assess-label,
.form__choice-label {
  .title();
  text-transform: none;
  text-align: left;
}

.reviews__title {
  margin: 36px 19px 24px;
}

.reviews__description {
  .description();
  margin-bottom: 30px;
}

.form__introduce-title,
.form__contacts-title,
.form__assess-title,
.form__choice-title,
.form__textarea-title {
  padding: 24px 20px 20px;
}

.form__reviews-button {
  display: block;
  width: 280px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 16px 10px;
}

.form__legend {
  .description();
  display: block;
  text-align: right;
  padding-right: 20px;
  opacity: 60%;
}
