.search-wrapper {
  padding: 39px 18px 49px;

  @media (min-width: @tablet-width) {
    padding: 60px 155px 55px;
  }

  @media (min-width: @desktop-width) {
    padding: 62px 155px 66px;
  }
}

.search__title {
  font-size: 21px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
  }
}

.divider {
  display: none;
}

.search__description {
  margin-top: 22px;
  margin-bottom: 32px;

  @media (min-width: @tablet-width) {
    line-height: 24px;
    margin-top: 30px;
    margin-bottom: 41px;
    padding-left: 10px;
    padding-right: 10px;

    .divider {
      display: inline;
    }
  }
}

.search__button {
  width: 283px;

  @media (min-width: @tablet-width) {
    width: 458px;
  }
}

