.search-wrapper {
  padding: 38px 18px 49px;
}

.search__title {
  .title();
  font-size: 21px;
}

.search__description {
  .description();
  margin-top: 22px;
  margin-bottom: 32px;
}

.search__button {
  display: block;
  box-sizing: border-box;
  padding-top: 16px;
  padding-bottom: 16px;
}
