.list-reset() {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.link-decoration-none() {
  text-decoration: none;
}

.figcaption() {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  margin: 0;
}

.input-styles() {
  padding: 12px 56px 12px 12px;
  background-color: #f2f2f2;
  border: 4px solid transparent;
  outline: none;
  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: left;
  color: @title-color;
}

.button-style() {
  display: block;
  padding: 16px;
  margin: 0 auto;
  font-family: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  background-color: @theme-color;
  color: #ffffff;
  border-color: transparent;
  cursor: pointer;
}
