.page-body {
  min-width: 320px;
  height: 100%;
  margin: 0 auto;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: @title-color;
  background-color: #f2f2f2;

  @media (min-width: @tablet-width) {
    min-width: 768px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
  }
}

.page-body__wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: @background-main-color;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
